*k8s-cluster.pem
.git
.gitignore
.dockerignore
**/.DS_Store
**/node_modules
**/venv
**/__pycache__
**/LICENSE
**/tests
**/docs
**/hosts

# Terraform directories
**/.terraform/

# State files
*.tfstate
*.tfstate.*

# Sensitive variable files
*.tfvars

# Terraform plan files
*.terraform.plan

# ansible inputs / terraform's ansible setup outputs
**/group_vars/all.yml
**/host_vars/master-node.yml

# ansible outputs
*kubeconfig*

# anaconda environments
**/anaconda_projects
**/.ipynb_checkpoints

# python environments
**/.venv

#ansible vault password
.vault_pass
*/.vault_pass
**/.vault_pass

secrets.yml
*/secrets.yml
**/secrets.yml