*k8s-cluster.pem
*prometheus/grafana-login-details*
*prometheus/prometheus-install-output*

.git
.gitignore
.dockerignore
**/.DS_Store
**/node_modules
**/venv
**/__pycache__
**/LICENSE
**/tests
**/docs
**/hosts
# Terraform directories
**/.terraform/

# State files
*.tfstate
*.tfstate.*

# Sensitive variable files
*.tfvars

# Terraform plan files
*.terraform.plan

*instances_status.sh

# ansible outputs
*kubeconfig*
*master-node.yml
**/anaconda_projects
**/.ipynb_checkpoints
**/group_vars/all.yml