apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: metrics-data-pvc
  namespace: {{ namespace_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ pv_size }}
  storageClassName: {{ pv_storage_class }}