NODE_ENV=production

# Redis Configuration
REDIS_HOST={{ REDIS_HOST }}
REDIS_PORT={{ REDIS_PORT }}

# HashiCorp Vault Configuration
VAULT_ADDR={{ VAULT_ADDR }}
VAULT_TOKEN={{ VAULT_TOKEN }}

# Jenkins Configuration
JENKINS_URL={{ JENKINS_URL }}
PIPELINE_NAME={{ PIPELINE_NAME }}

# Application Server Configuration
PORT={{ PORT }}
HOST={{ HOST }}
